{% load thumbnail i18n %}{% language 'fr' %}<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>{{ newsletter.title }}: {{ message.title }}</title>
    <style>
        a {color: #575757;}
        img {padding:5px}
        td { margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;
        padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;
        border-collapse:collapse;background-color:#ffffff; vertical-align:top;}
        .poster img {padding: 20px 20px 0 0;}
        .badge {font-style:normal; color: white;
                padding:1px 2px; background-color: green; border:1px solid green;
                border-radius:8px;}
        h3 {background-color:black; color: white; padding:1px 10px;}
        .broadcasts {width: 100%; font-style:italic; font-weight: normal; }
        .broadcasts td {padding-right: 10px; padding: 0 10px 0 0; text-align: right;}
        .broadcast td {background-color:#dbdbdb;}
        .notice { color: #999999; font-size: 10px; }
    </style>
</head>
<body>
<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
  <tr>
    <td align="center" valign="top">
      <table border="0" cellpadding="20" cellspacing="0" width="600" id="emailContainer">
          {% if submission.publish %}
          <tr>
              <td align="center" valign="top" class="notice" colspan="2">
                <a style="color:#575757;" href="http://{{ site.domain }}{{ submission.get_absolute_url }}">{% trans "If you cannot read this message, use this link." %}</a>
              </td>
          </tr>{% endif %}
          <tr>
              <td colspan="2"><h1>{{ newsletter.title }}</h1></td>
          </tr>
          <tr>
              <td colspan="2"><h2>{{ message.title }}</h2></td>
          </tr>
      {% for article in message.articles.all %}
          <tr>
              <td colspan="2"><h3>{{ article.title }}</h3></td>
          </tr>
          {% if article.image %}{% thumbnail article.image "200x200" as image %}
          <tr>
            <td colspan="2">
                <img src="http://{{ site.domain }}{{ image.url }}"
                     width="{{ image.width }}" height="{{ image.height }}">
            </td>
          </tr>
          {% endthumbnail %}{% endif %}
          {% if "<tr>" in article.text %}
              {{ article.text|safe }}
          {% else %}
          <tr>
              <td colspan="2" valign="top">
              {{ article.text|safe }}
              </td>
          </tr>
          {% endif %}
        {% if article.url %}
          <tr>
              <td colspan="2" align="center">
                  <a style="color: #575757;" href="{{ article.url }}">{% trans "see on the website" %}</a>
              </td>
          </tr>
        {% endif %}
      {% endfor %}
          <tr>
              <td align="center" valign="top" class="notice" colspan="2">
                {% trans "If you want to unsubscribe. Click "%}<a
                      style="color: #575757;" href="http://{{ site.domain }}{% url 'unsubscribe' %}">{% trans "here" %}</a>.
              </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>{% endlanguage %}