{% load fanstutils i18n %}
<tr{% if broadcast.id == current_broadcast.id %} class='current-broadcast'{% endif %}>
    <th>
        <a class="nested-movie-link" data-movie="{{broadcast.movie.slug}}"
           data-broadcast-id="{{broadcast.id}}">{{broadcast.movie}}
        </a>
    </th>
    <td>{{broadcast.date|date:"l d F Y"|capfirst}}</td>
    <td>{{broadcast.schedule}}</td>
    <td>
        {% for tag in broadcast.tags.all %}
        <span class="label{% if tag.color %} color-{{tag.color.slug}}{% endif %}">
                      {{tag.display|safe}}</span>
        {% endfor %}
        {% if broadcast.original_version %}
        <span class="badge success" title="{% trans 'Original version' %}">
                    {% trans "OV" %}</span>{% endif %}
        {% if broadcast.three_dimensional %}
        <span class="badge" title="{% trans '3D'%}">{% trans "3D" %}</span>{% endif %}
    </td>
    <td>{{broadcast.special_description|markdownify}}</td>
    <td>
    {% if not old_broadcast and broadcast.booking_url %}
        <a href="{{broadcast.booking_url}}" target="blank_" class="submit success button booking">
            <i class="fa fa-ticket" aria-hidden="true"></i>&nbsp;{% trans "Booking" %}
        </a>
    {% endif %}
    </td>
</tr>
