{% load fanstutils i18n %}
<button class="close-button" data-close aria-label="Close" type="button">
    <span aria-hidden="true">&times;</span>
</button>

{% url 'event-detail-link' event.slug as share_url %}
{% include "share_bar.html" %}

<h4>{{event.name}}</h4>

{% if event.picture %}
<div class="row small-up-1 small-centered">
    <div class="columns">
        <img src="{{event.picture.url}}">
    </div>
</div>
{% endif %}
<div class="row small-up-1">
    <div class="columns">
        {{event.description|markdownify}}
    </div>
</div>


{% if event.old_broadcasts.count or event.current_broadcasts.count %}
{% if event.current_broadcasts.count %}
<h4>{% trans "Movies" %}</h4>
<table class="broadcast">
    {% for broadcast in event.current_broadcasts.all %}
    {% include "broadcast_event_row.html" %}
    {% endfor %}
</table>
{% endif %}
{% if event.old_broadcasts.count %}
<h4>{% trans "Previously broadcasted movies" %}</h4>
<table class="broadcast">
{% for broadcast in event.old_broadcasts.all %}
    {% include "broadcast_event_row.html" %}
{% endfor %}
</table>
{% endif %}
<script type="text/javascript">
$(document).ready(function() {
    register_reveals();
});
</script>
{% endif %}
