{% load i18n fanstutils imagefit compress %}<!doctype html>
<html class="no-js" lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if theater.facebook_app_id %}
    <meta property="fb:app_id" content="{{theater.facebook_app_id}}"/>
    {% endif %}
    {% if movie %}
    <meta property="og:title"
          content="{{movie}} - {{site_title}}{% if current_broadcast %} - {{current_broadcast.date|date:'l d F Y'|capfirst}} {{current_broadcast.schedule}}{% endif %}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url"
          content="{{current_url}}/{{theater.slug}}/movie-link/{{movie.slug}}/{% if current_broadcast %}{{current_broadcast.pk}}/{% endif %}"/>
    {% if movie.poster %}
    <meta property="og:image" content="{{current_url}}{{movie.poster.url}}" />
    <meta property="og:image:width" content="{{movie.poster.width}}" />
    <meta property="og:image:height" content="{{movie.poster.height}}" />
    {% elif theater.image %}
    <meta property="og:image" content="{{current_url}}{{theater.image.url}}" />
    <meta property="og:image:width" content="{{theater.image.width}}" />
    <meta property="og:image:height" content="{{theater.image.height}}" />
    {% endif %}
    <meta property="og:description"
          content="{{movie.description|demarkdownify}} {{movie.technical_description}}" />

    {% elif event %}
    <meta property="og:title" content="{{event}} - {{site_title}}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url"
          content="{{current_url}}/{{theater.slug}}/event-link/{{event.slug}}/"/>
    {% if event.picture %}
    <meta property="og:image" content="{{current_url}}{{event.picture.url}}" />
    <meta property="og:image:width" content="{{event.picture.width}}" />
    <meta property="og:image:height" content="{{event.picture.height}}" />
    {% elif theater.image %}
    <meta property="og:image" content="{{current_url}}{{theater.image.url}}" />
    <meta property="og:image:width" content="{{theater.image.width}}" />
    <meta property="og:image:height" content="{{theater.image.height}}" />
    {% endif %}
    <meta property="og:description"
          content="{{event.description|demarkdownify}}" />

    {% else %}
    <meta property="og:title" content="{{site_title}}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{current_url}}"/>
    {% if theater.image %}
    <meta property="og:image" content="{{current_url}}{{theater.image.url}}" />
    <meta property="og:image:width" content="{{theater.image.width}}" />
    <meta property="og:image:height" content="{{theater.image.height}}" />
    {% endif %}
    {% if theater.description %}
    <meta property="og:description" content="{{theater.description}}" />{% endif %}
    {% endif %}

    <title>{{site_title}}</title>
    {% if favicon %}
    <link rel="icon" href="{{MEDIA_URL}}{{favicon}}" />{% endif %}
    {% if theater %}
    <link rel="alternate" type="application/atom+xml"
          title="{% trans 'Next broadcasted movies' %}" href='{% url "feed" theater.slug %}' />
    {% endif %}
    {% compress css %}
    <link rel="stylesheet" href="{{STATIC_URL}}foundation/css/foundation.css">
    <link rel="stylesheet" href="{{STATIC_URL}}font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="{{STATIC_URL}}styles.css?version={{VERSION}}">
    <style type="text/css">
    {% for color in colors %}
    .color-{{color.slug}}{
      color: {{color.color}};
      background-color: {{color.background_color}};
    }
    .color-{{color.slug}}:hover{
      color: {{color.color}};
    }
    .color-{{color.slug}}-invert{
      background-color: transparent;
      color: {{color.background_color}};
    }
    {% endfor %}
    </style>
    {% endcompress %}
    {% if extra_css %}
    <link rel="stylesheet" href="{{MEDIA_URL}}{{extra_css}}">{% endif %}
  </head>
  <body>
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
    <div class="callout primary">
      {{ message }}
    </div>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
  <div class="content-pane">
    <!-- Start Top Bar -->
    <div class="title-bar" data-responsive-toggle="main-menu"
         data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle></button>
      <div class="title-bar-title">Menu</div>
    </div>

    <div data-sticky-container>
    <div id="main-menu" class="top-bar" data-sticky data-options="marginTop:0;stickyOn:small;">
      <div class="top-bar-left hide-for-small-only">
        <ul class="menu">
          <li class="menu-text theater-logo">
            <a href="{% url 'index' theater.slug %}">{{ theater }}</a>
          </li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu vertical medium-horizontal" data-responsive-menu="accordion medium-dropdown">
          {% for page in hidden_pages %}
          <li>
            <a class='page-link' data-page="{{page.url}}">
              {{page.title|safe}}</a>
          </li>
          {% endfor %}
          {% for page in pages %}
          {% if page.page or page.link %}
          <li>
            {% if page.page %}
            <a class='page-link' data-page="{{page.page.url}}">
              {{page.page.title|safe}}</a>
            {% elif page.link %}
            <a href="{{page.link.link}}" target="_blank">
              {{page.link.name|safe}}</a>
            {% endif %}
          </li>
          {% else %}
          <li class="menus-label  data-accordion-menu">
            <a href="#">{{ page.name }}</a>
            <ul class="menu vertical nested">{% for subpage in page.pages.all %}
              <li><a class='page-link' data-page="{{subpage.page.url}}">{{subpage.page.title|safe}}</a></li>{% endfor %}
            </ul>
          </li>
          {% endif %}{% endfor %}

          {% if events_with_description or events_with_picture %}
            <li class="events-label  data-accordion-menu">
              <a href="#">{% trans "Events" %}</a>
              <ul class="menu vertical nested">
                {% for event in events %}{% if event.description or event.picture %}
                <li><a class='event-link' data-event="{{event.slug}}">{{event.short}}</a></li>
                {% endif %}{% endfor %}
              </ul>
            </li>
          {% endif %}
          {% if theater.newsletter %}
          <li title="{% trans 'Newsletter' %}">
            <a class='staticpage-link'
               data-page="{% url 'subscribe' %}">
              <i class="fa fa-newspaper-o" aria-hidden="true"></i>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
    </div>
    <!-- End Top Bar -->

    {% block main %}

    <!-- Carousel -->
    {% if events_with_picture %}
    <div class="orbit" role="region" aria-label="{% trans 'events' %}" data-orbit>
      <ul class="orbit-container">
        {% if events_with_picture > 1 %}
        <button class="orbit-previous">
          <span class="show-for-sr">{% trans "Previous Slide" %}</span>&#9664;&#xFE0E;</button>
        <button class="orbit-next">
          <span class="show-for-sr">{% trans "Next Slide" %}</span>&#9654;&#xFE0E;</button>
        {% endif %}
          {% for event in events %}
        {% if event.picture %}
        <li class="orbit-slide{% if forloop.first %} is-active{% endif %}">
            <img class="orbit-image"
                 src="{{event.picture.name|media_resize:'carousel'}}">
          <figcaption class="orbit-caption">
            {% if event.description or event.picture %}
            <a class='event-link' data-event="{{event.slug}}">{% endif %}
            {{event.name}} &ndash; {% if event.end_date %}{{event.start_date|simple_date}}
            {% trans "to" %} {{event.end_date|simple_date}}{% else %}
            {{event.start_date|simple_date}}{% endif %}
            {% if event.description or event.picture %}</a>{% endif %}
          </figcaption>
        </li>
          {% endif %}{% endfor %}
      </ul>
      {% if events_with_picture > 1 %}
      <nav class="orbit-bullets">
        {% for event in events %}{% if event.picture %}
        <button{% if forloop.first%} class="is-active"{% endif %}
            data-slide="{{forloop.counter0}}">
          <span class="show-for-sr">{{event}}</span>
          <span class="show-for-sr">&nbsp;</span></button>
        {% endif %}{% endfor %}
      </nav>
      {% endif %}
    </div>
    {% endif %}

    <!-- intro -->
    {% if intro %}
    <div class="expanded row small-up-1 medium-up-7 large-up-7 intro">
      <div class="medium-5 medium-offset-1">
        {{intro|safe}}
      </div>
    </div>
    {% endif %}
    {% if theater.theater_movies and theater.digital_movies %}
    <ul class="tabs" data-tabs id="broadcast-type">
      <li class="tabs-title is-active"><a data-tabs-target="calendar" href="#calendar" aria-selected="true">{% trans "In theater" %}</a></li>
      <li class="tabs-title"><a data-tabs-target="digital" href="#digital">{% trans "Digital" %}</a></li>
    </ul>
    <div class="tabs-content" data-tabs-content="broadcast-type">
    <div class="tabs-panel is-active" id="calendar">
    {% endif %}

    {% if theater.theater_movies %}
    <!-- the calendar! -->
    {% for day in calendar %}
      {% if day.new_year and day.new_week %}

      {% if not forloop.first %}</div></div>{% endif %}

      <h4>{{day.year}}</h4>
      <div class="expanded row small-up-1 medium-up-7 large-up-7">
        <div class="{% if day.date == today %}current-date {% endif %}column{% if not day.broadcasts or day.old %} hide-for-small-only{% endif %}">
          <span class="month">{{day.date|date:"F"|capfirst}}</span>
          <span class="day">{{day.date|date:"l"}}<br/>{{day.day}}</span>
      {% else %}

        {% if day.new_week %}

        {% if not forloop.first %}</div></div>{% endif %}
        <div class="expanded row small-up-1 medium-up-7 large-up-7">
          <div class="{% if day.date == today %}current-date {% endif %}column{% if not day.broadcasts or day.old %} hide-for-small-only{% endif %}">
          <span class="month">{{day.date|date:"F"|capfirst}}</span>
          <span class="day">{{day.date|date:"l"}}<br/>{{day.day}}</span>
        {% else %}

            {% if not forloop.first %}</div>{% endif %}
          <div class="{% if day.date == today %}current-date {% endif %}column{% if not day.broadcasts or day.old %} hide-for-small-only{% endif %}"> <span class="month">{% if not day.new_month %}<span class="show-for-small-only">{% endif %}
              {{day.date|date:"F"|capfirst}}
          {% if not day.new_month %}</span>{% endif %}&nbsp;</span>
          <span class="day">{{day.date|date:"l"}}<br/>{{day.day}}</span>
        {% endif %}

      {% endif %}
        {% for broadcast in day.broadcasts %}
          <span class="hour">{{broadcast.schedule}}</span>
          {% with color=broadcast.movie.main_colorset %}
          <a data-link="movie" class="movie-link color-{% if color %}{{color.slug}}{% else %}default{% endif %}" data-movie="{{broadcast.movie.slug}}"
              data-broadcast-id="{{broadcast.id}}">
            {% endwith %}
            <div class="movie-title">
              <span>{{broadcast.movie.name}}</span>
            </div>
            {% if broadcast.tags_without_badge.count or broadcast.movie.tags_without_badge.count %}
            <div class="tag-container">
              <span class="content">
              {% for tag in broadcast.tags_without_badge.all %}
              <span class="label {{tag.slug}}{% if tag.color %} color-{{tag.color.slug}}{% endif %}">
                  {{tag.display|safe}}</span>
              {% endfor %}
              {% for tag in broadcast.movie.tags_without_badge.all %}
              <span class="label {{tag.slug}}{% if tag.color %} color-{{tag.color.slug}}{% endif %}">
                    {{tag.display|safe}}</span>
              {% endfor %}
              </span>
            </div>
            {% endif %}
            <div class="badge-container">
                {% for tag in broadcast.movie.tags_with_badge.all %}
                <span class="badge {{tag.slug}}{% if tag.color %} color-{{tag.color.slug}}{% endif %}" title="{{tag.name}}">
                  {{tag.display|safe}}</span>
                {% endfor %}
                {% for tag in broadcast.tags_with_badge.all %}
                <span class="badge {{tag.slug}}{% if tag.color %} color-{{tag.color.slug}}{% endif %}" title="{{tag.name}}">
                  {{tag.display|safe}}</span>
                {% endfor %}
                {% if broadcast.original_version %}
                <span class="badge success" title="{% trans 'Original version' %}">
                    {% trans "OV" %}</span>{% endif %}
                {% if broadcast.three_dimensional %}
                <span class="badge" title="{% trans '3D'%}">{% trans "3D" %}</span>{% endif %}
            </div>
            {% if broadcast.movie.poster %}
            <img class="thumbnail{% if not broadcast.events.count %} no-event{% endif %}"
                 src="{{broadcast.movie.poster.name|media_resize:'poster'}}">
            {% else %}
            <img class="thumbnail{% if not broadcast.events.count %} no-event{% endif %}"
                 src="{{STATIC_URL}}default-movie.png">
            {% endif %}
            {% for event in broadcast.events.all %}
            <span class="{% if forloop.last %}last {% endif %}event-thumb color-{{event.color.slug}}">
            {{event.short}}
            </span>
            {% endfor %}
          </a>
        {% endfor %}

    {% if forloop.last %}</div></div>{% endif %}
    {% endfor %}

    {% if previous_broadcasts_link or next_broadcasts_link %}
    <hr/>
    <div class="broadcasts-nav">
      {% if previous_broadcasts_link %}
      <a href="{{previous_broadcasts_link}}">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        {% trans 'previous movies' %}
      </a>{% endif %}
      {% if next_broadcasts_link %}
      <a href="{{next_broadcasts_link}}">
        {% trans 'next movies' %}
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </a>{% endif %}
    </div>
    {% endif %}

    {% endif %}
    {% if theater.theater_movies and theater.digital_movies %}
</div>
<div class="tabs-panel" id="digital">
    {% endif %}
    {% if theater.digital_movies %}
    
  <h4>{% trans 'Digitally available' %}</h4>

  <div class="expanded row small-up-1 medium-up-7 large-up-7">
    {% for movie in digital_movies %}
    <div class="column hide-for-small-only">
      {% with color=movie.main_colorset %}
      <a data-link="movie" class="movie-link color-{% if color %}{{color.slug}}{% else %}default{% endif %}" data-movie="{{movie.slug}}">
      {% endwith %}
        <div class="movie-title">
          <span>{{movie.name}}</span>
        </div>
        {% if movie.tags_without_badge.count %}
        <div class="tag-container">
          <span class="content">
          {% for tag in movie.tags_without_badge.all %}
          <span class="label {{tag.slug}}{% if tag.color %} color-{{tag.color.slug}}{% endif %}">
                {{tag.display|safe}}</span>
          {% endfor %}
          </span>
        </div>
        {% endif %}
        <div class="badge-container">
            {% for tag in movie.tags_with_badge.all %}
            <span class="badge {{tag.slug}}{% if tag.color %} color-{{tag.color.slug}}{% endif %}" title="{{tag.name}}">
              {{tag.display|safe}}</span>
            {% endfor %}
        </div>
        {% if movie.poster %}
        <img class="thumbnail" src="{{movie.poster.name|media_resize:'poster'}}">
        {% else %}
        <img class="thumbnail" src="{{STATIC_URL}}default-movie.png">
        {% endif %}
      </a>
    </div>
    {% endfor %}
  </div>
    {% endif %}
    {% if theater.theater_movies and theater.digital_movies %}
</div>
    </div>
    {% endif %}

    <div class="large reveal" id="movie" data-reveal
         data-multiple-opened="true"></div>
    <div class="large reveal" id="event" data-reveal
         data-multiple-opened="true"></div>
    <div class="large reveal" id="page" data-reveal
         data-multiple-opened="true"></div>
    <div class="tiny reveal" id="tiny-page" data-reveal
         data-multiple-opened="true">
    {% block tinypage %}{% endblock %}
    </div>
    <div class="large reveal" id="nested-movie" data-reveal
         data-multiple-opened="true"></div>
  {% endblock %}


    <div class="callout large secondary pre-foot">
      {% if footer %}{{footer|safe}}{% endif %}
    </div>
    <div class="foot">
      <p>{{theater.extra_foot|safe}}{% trans 'This website uses: <a href="https://gitlab.com/iggdrasil/fantasmagorie">Fantasmagorie</a>.' %}
        {% trans "Fantasmagorie is a free software under <a href='https://www.gnu.org/licenses/agpl-3.0.html'>AGPL v3.0 licence</a>." %}</p>
    </div>

    {% compress js %}
    <script src="{{STATIC_URL}}jquery/jquery.js"></script>
    <script src="{{STATIC_URL}}foundation/js/foundation.js"></script>
    <script src="{{STATIC_URL}}app.js?version={{VERSION}}"></script>
    <script type="text/javascript">
      $(document).foundation();
    </script>
    {% endcompress %}
    <script type="text/javascript">
      $(document).ready(function(){
        {% if movie %}
        $("a[data-movie={{movie.slug}}]{% if current_broadcast %}[data-broadcast-id={{current_broadcast.id}}]{% endif %}").click();
        {% endif %}
        {% if event %}
        $("a[data-event={{event.slug}}]").click();
        {% endif %}
        {% if page %}
        $("a[data-page='{{page.url}}']").click();
        {% endif %}
        {% if show_newsletter %}
        $("a[data-page='{% url 'newsletter_manager' theater.newsletter.slug %}']").click();
        {% endif %}
        $(".messages").center();
        setTimeout(function(){$(".messages").fadeOut()}, 4000);
      });
      {% block extrajs %}{% endblock %}
    </script>
  </div>

  <div class="image-pane">
      <h4>{{site_title}}</h4>
      {% if side %}
        <div class="expanded row side">
            {{side|safe}}
        </div>
      {% endif %}
  </div>

  {% if theater.extra_html %}
  {{theater.extra_html|safe}}
  {% endif %}
  </body>
</html>
