{% load fanstutils i18n %}
<button class="close-button" data-close aria-label="Close" type="button">
    <span aria-hidden="true">&times;</span>
</button>

<h4>
    {% if previous_broadcast %}
    <a class='movie-arrow movie-arrow-left' data-link="movie" data-movie="{{previous_broadcast.movie.slug}}"
       data-broadcast-id="{{previous_broadcast.id}}" title="{{previous_broadcast.movie}}">
        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
    </a>
    {% else %}
    <a class='movie-arrow'>
        &nbsp;
    </a>
    {% endif %}
    {{movie.name}}
    {% url 'movie-detail-link' movie.slug current_broadcast.pk as share_url %}
    {% include "share_bar.html" %}
    {% if is_staff %}
    <a href="{% url 'admin:fantasmagorie_movie_change' movie.id %}">
        <i class="fa fa-pencil" aria-hidden="true"></i>
    </a>{% endif %}
    {% if next_broadcast %}
    <a class='movie-arrow movie-arrow-right' data-link="movie" data-movie="{{next_broadcast.movie.slug}}"
       data-broadcast-id="{{next_broadcast.id}}" title="{{next_broadcast.movie}}">
        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
    </a>
    {% else %}
    <a class='movie-arrow'>
        &nbsp;
    </a>
    {% endif %}
</h4>


<p class="tags">{% for genre in movie.genres.all %}
<span class="label{% if genre.color%} color-{{genre.color.slug}}{% endif %}">
    {{genre.name|safe}}</span>
{% endfor %}{% for tag in movie.tags.all %}
<span class="label{% if tag.color %} color-{{tag.color.slug}}{% endif %}">
    {{tag.name|safe}}</span>
{% endfor %}</p>
<div class="row{% if movie.poster %} medium-7{% endif %}">
    <div class="small-7 {% if movie.poster %}medium-4 {% endif %}columns">
        {% if movie.current_broadcasts %}
        <table class="broadcast movie-detail">
            {% for broadcast in movie.current_broadcasts %}
            {% include "broadcast_row.html" %}
            {% endfor %}
        </table>
        {% endif %}
        {% if movie.digital_link %}
        <table class="broadcast">
            <tr class='current-broadcast'>
                <th colspan="2"><a target="_blank" href="{{movie.digital_link}}">
                    {% trans "Digital broadcast" %}
                </a></th>
            </tr>
        </table>
        {% endif %}
        <div class="tech-description text-justify">
            {{movie.duration|duration}}{% if movie.duration and movie.technical_description %} &mdash; {% endif %}{{movie.technical_description}}
        </div>
        <div class="description text-justify">{{movie.description|markdownify }}</div>
        {% if movie.special_description %}
        <div class="special-description text-justify">
            {{movie.special_description|markdownify}}</div>{% endif %}
        {% if movie.digital_link %}
        <a target="_blank" href="{{movie.digital_link}}">
            {% trans "Click to open the digital broadcast page" %}
        </a>
        {% endif %}
    </div>
    {% if movie.poster %}
    <div class="small-7 medium-3 columns">
        <img src="{{movie.poster.url}}">
    </div>
    {% endif %}
</div>
{% for resource in movie.external_resources.all %}
{% if not forloop.counter0 %}
<hr/>
{% endif %}
{% include "external_resource.html" %}
{% endfor %}
{% if movie.old_broadcasts %}
<hr/>
<h5>{% trans "Old broadcasts" %}</h5>
<table class="broadcast movie-detail">
    {% with old_broadcast=1 %}
    {% for broadcast in movie.old_broadcasts %}
    {% include "broadcast_row.html" %}
    {% endfor %}
    {% endwith %}
</table>
{% endif %}
<script type="text/javascript">
$(document).ready(function() {
    register_reveals();
});
</script>
