{% load i18n %}
    <a class="display-link" href="" title="{% trans 'Direct link' %}">
        <i class="fa fa-fw fa-link" aria-hidden="true"></i>
    </a>
    <span class='hidden-link'>{{current_url}}{{share_url}}</span>
    <div class="info-message">
        {% trans "Direct link copied to the clipboard" %}
    </div>
