{% load i18n %}
<button class="close-button" data-close aria-label="Close" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<h4>{% trans "Subscribe to our mailing list" %}</h4>

{% if success %}
<div class="callout primary">
    <em>{{email}}</em>{% trans " have been successfully subscribed to our mailing list." %}
</div>
<div class="callout alert">
    {% blocktrans %}
    Emails sent by this mailing list use heavily images and links.
    Some email provider may classify theses emails as "Promotions" or spam. If
    you want to prevent that, after reception of the email, select the movie
    theater message in your "Spam" or "Promotions" directory and click on
    the button "Not Spam" or "Not promotion". You may also had the address of
    the mailing list sender "{{newsletter_email}}" to your address book.
    {% endblocktrans %}
</div>
{% else %}
{% if already %}
<div class="callout alert">
    <em>{{email}}</em>{% trans " is already subscribed to our mailing list. If you want to unsubscribe: " %}
    <a href="{% url 'unsubscribe' coded_email %}">{% trans 'click here'%}</a>.
</div>
{% endif %}

{% trans "Subscribe" as submit_label %}
{% url 'subscribe' as submit_url %}
{% include "base_form.html" %}
<p>{% trans "Theses pieces of informations will be only used for this mailing list. You can unsubscribe at any moment." %}</p>
{% endif %}

<script type="text/javascript">
      $(document).ready(function(){
        register_staticpage();
      });
</script>

