.month,
.title-bar,
.foot,
.top-bar,
.top-bar ul ul{
    background-color: #26348c;
}

.day {
    background-color: #005eb0;
    border-top: 1px solid #005eb0;
    border-bottom: 2px solid #005eb0;
}

.current-date .day{
    background-color: #fff;
    color: #26348c;
    text-shadow: none;
    font-weight: bold;
}

.top-bar ul {
    color: #fff;
    background-color: transparent;
}

.top-bar a, .top-bar a:hover, .top-bar a:focus {
    color: #fff;
}

.title-bar,
.theater-logo{
    background-image: url(logo-hermine-v2.png);
    background-repeat: no-repeat;
}

.theater-logo{
    color: transparent;
    width: 350px;
    background-size: 270px;
}

.title-bar{
    background-size: 240px;
    background-position: right;
}

.sticky{
    width: 100%;
    margin-top: 0;
}

.badge.interdit-aux-moins-de-12-ans,
.badge.interdit-aux-moins-de-16-ans{
    background-image: url('badge-interdiction.png');
    background-repeat: no-repeat;
    vertical-align: top;
}

.badge.heurter-la-sensibilite {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-color: transparent transparent #ff8a00;
    padding: 0px;
    border-radius: 0px;
    font-size: 10px;
    border-width: 0px 13px 26px;
    position: relative;
    background-color: transparent;
    top: -6px;
}

.badge.heurter-la-sensibilite strong{
    left: -1.5px;
    position: relative;
    top: 7px;
    font-size: 1.2em;
}

.jeunes-de-lhermine,
.art-et-essai,
.recommandation-hermine,
.doc-du-mois{
    background-repeat: no-repeat;
    color: transparent;
    background-color: transparent;
    border-radius: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: black;
    background-position: right center;
    line-height: 1.9;
}

.jeunes-de-lhermine{
    background-color: #07325f;
    background-position: center;
    background-image: url('jeunes-de-lhermine.png');
}

.recommandation-hermine{
    background-color: #21b013;
    background-position: center;
    background-image: url('recommandation-hermine.png');
}

.art-et-essai{
    background-image: url('A-et-E.png');
}

.doc-du-mois{
    background-image: url('doc.png');
}

.label.color-bleu-jeune{
 /*   display: block;*/
}

.side{
    margin-top: 4.5em;
}

.image-pane h4{
    margin-top: 3em;
}

@media screen and (min-width: 74em) {
   .image-pane{
        background-image: url("cinema-hermine.jpg");
        background-position: left;
   }
}
