{% load i18n %}
<button class="close-button" data-close aria-label="Close" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<h4>{% trans "Delete your account" %}</h4>

{% trans "Delete" as submit_label %}
{% url 'delete-account' as submit_url %}
{% include "base_form.html" %}

<script type="text/javascript">
      $(document).ready(function(){
        register_staticpage();
      });
</script>
