{% load i18n %}
<button class="close-button" data-close aria-label="Close" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<h4>{% trans "Forgot password" %}</h4>
{% trans "Submit" as submit_label %}
{% url 'f_password_reset' as submit_url %}
{% include "base_form.html" %}
<script type="text/javascript">
      $(document).ready(function(){
        register_staticpage();
      });
</script>
