{% extends 'index.html' %}{% load i18n %}
<button class="close-button" data-close aria-label="Close" type="button">
  <span aria-hidden="true">&times;</span>
</button>

{% if validlink %}
    <h4>{% trans "Change password" %}</h4>
    {% trans "Change password" as submit_label %}
    {% url 'password_reset_confirm' as submit_url %}
    {% include "base_form.html" %}
{% else %}
    <p>
{% blocktrans %}The password reset link was invalid, possibly because it has already been used.
Please request a new password reset.{% endblocktrans %}
    </p>
{% endif %}

<script type="text/javascript">
      $(document).ready(function(){
        register_staticpage();
      });
</script>
