{% load i18n %}
<button class="close-button" data-close aria-label="Close" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<p>{% trans "Your new password has been set." %}</p>
<p><a href="{% url 'signin' %}">{% trans "Login" %}</a>.</p>
<script type="text/javascript">
      $(document).ready(function(){
        register_staticpage();
      });
</script>
