div.sphinxsidebarwrapper h1.logo {
    font-size: 160%;
}

div.body h1 {
    font-size: 200%;
}

div.body h2 {
    font-size: 160%;
}

.sphinxsidebarwrapper > p.caption,
.sphinxsidebarwrapper > h3 {
    display:none;
}

