{% extends "admin/base_site.html" %}{% load i18n admin_urls fanstutils %}

{% block extrastyle %}
{{ block.super }}
<style>
    td p{
        text-align: center;
    }
    td h4{
        margin-top: 0;
    }
    td.even{
        background-color: #ddd;
    }
    .right{
        text-align: right;
        padding-right: 6px;
        margin-bottom: 0;
    }
</style>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
  &rsaquo; <a href="{% url 'admin:app_list' app_label='fantasmagorie' %}">Fantasmagorie</a>
  &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{% trans "Movies" %}</a>
  &rsaquo; <a href="{% url opts|admin_urlname:'change' movie.pk %}">{{movie}}</a>
  &rsaquo; {% trans "Add broadcasts" %}
</div>
{% endblock %}

{% block content %}
<form id="main-form" action="." method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="fieldWrapper">
        {{form.screen}}
        <input type="submit" value="{% trans 'Add' %}" name="_add_broadcasts" />
    </div>
    <table>
    {% for week_number, day_number, day, fields in form.broadcast_fields %}
        {% if not day_number %}<tr>{% endif %}
        <td class="{% cycle 'odd' 'even' %}">
            <h4>{{day|date:"D. d b. Y"|capfirst}}</h4>
            <p class="right"><em>VF / VO</em></p>
            {% for keys in fields %}
            <p>
                {% for key in keys %}
                {% with field=form|hash:key %}
                {% if forloop.first%}{{field.label}}{% endif %}
                &nbsp; {{field}}
                {% endwith %}
                {% endfor %}
            </p>
            {% endfor %}
        </td>
        {% if day_number == 6 %}</tr>{% endif %}
    {% endfor %}
    </table>
</form>
{% endblock %}
